* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    text-decoration: none;
    border:none;
    outline:none;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
}
:root{
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color:#0022ee;
}
html{
    font-size: 70%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.header::before {
  content: "";
  display: block;
  height: 8rem; 
}
.Title {
font-size: 2rem;
color: var(--text-color);
font-weight: 500;
cursor: pointer;
transition: 0.3s ease;
padding: 20px;
}
.Title:hover {
  transform: scale(1.1);
}
.Title span{
  text-shadow: 5px 5px 10px #0022ee, -5px -5px 10px #042aff, 5px 5px 10px #0022ee, -5px -5px 10px #042aff, -5px -5px 10px #042aff;
}
.Title a{
  margin-left: 30px;
}
span{
    color: var(--text-color);
  }
  #navcontent {
    overflow-x: hidden; 
    top: 0px;
     
  }
  #navbar ul {
    list-style-type: none;
    margin-right: 30px;
    margin-top: 0px;
    overflow: hidden;
    float:right;
  }
  
#navcontent  li {
    display: inline-block;
    padding: 6px 16px;
  }
  
#navcontent  li a {
    display: block;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
  }
  
  #navcontent  a:hover,
  #navcontent  a.active  {
    color:blue;
    border-bottom: 3px solid var(--main-color);
  }
  #menu-icon{
    font-size: 3.6rem;
    color:var(--main-color);
    display: none;
  }
  
  section {
    min-height: 100vh;
    padding: 3rem 12% 3rem;
  }
  .home{
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 15rem;
  }
  .home-content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 10rem;
    margin-left: -400px;
  }
  .home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: var(--main-color);
    font-weight: 600;
    font-size: 1.9rem;
    text-shadow: 5px 5px 10px #0022ee, -5px -5px 10px #042aff;
  }
  .home-content h1 { 
    font-size: 2.7rem;
    font-weight: 600;
    margin-top: 0rem;
    letter-spacing: 2px;
    text-shadow: 5px 5px 10px #0022ee, -5px -5px 10px #042aff, 5px 5px 10px #0022ee, -5px -5px 10px #042aff, -5px -5px 10px #042aff;
  }

  .home-image {
    border-radius: 50%;
  }
  .home-image img {
    
    top: 0.5rem;
    margin-right: -45rem;
    width:42rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s ease-in-out;
  }

  .home-content p{
    
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 500px;
    color: var(--text-color)
  }
  .social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.7rem;
    height: 2.7rem;
    margin-left: 3vw;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 1.7rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }
  .social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--text-color);
    border: 2px solid var(--text-color);
    background: transparent;
  }

  .design-timeline h1 { 
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
    margin-top: 0rem;
    letter-spacing: 2px;
    text-shadow: 5px 5px 10px #0022ee, -5px -5px 10px #042aff, 5px 5px 10px #0022ee, -5px -5px 10px #042aff,-5px -5px 10px #042aff;
  }
  .timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 0;
  }
  
  .timeline-content {
    padding: 20px;
    background: #1f1f1f;
    -webkit-box-shadow: 5px 5px 10px #0022ee, -5px -5px 10px #042aff;
            box-shadow: 5px 5px 10px #0022ee, -5px -5px 10px #042aff;
    border-radius: 50px;
    color: white;
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px; 
    border-radius: 50px;
  }
  
  .timeline-content:hover {
    padding: 20px;
    background: white;
    -webkit-box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.945), -5px -5px 10px white;
            box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.945), -5px -5px 10px white;
    border-radius: 50px;
    color: var(--main-color);
    padding: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    cursor: pointer;
    margin-bottom: 20px; 
    border-radius: 50px;
  }

  .timeline-component {
    margin: 0px 20px 20px 20px;
  }
  
  @media screen and (min-width: 768px) {
    .timeline {
      display: grid;
      grid-template-columns: 1fr 3px 1fr;
    }
    .timeline-middle {
      position: relative;
      background-image: linear-gradient(45deg, #0022ee,#0226f2, #062afa, #042aff );
      width: 3px;
      height: 100%;
      transform: rotate3d();
    }
    .main-middle {
      opacity: 0;
    }
    .timeline-circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-image: linear-gradient(45deg, #0022ee,#0226f2, white, #ffffff );
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }

  .Achievement-component {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .Achievement-box h1 {
    margin-bottom: 5rem;
    
    top: 0rem;
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 9rem;
    letter-spacing: 2px;
    text-shadow: 5px 5px 10px #0022ee, -5px -5px 10px #042aff, 5px 5px 10px #0022ee, -5px -5px 10px #042aff,-5px -5px 10px #042aff;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
  }
  .Achievement-component {
    min-height: 550px;
    max-width: 450px;
    background: rgba(0,0,0,0.7);
    border: 3px solid white;
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    color: white;
    transition: 0.4s ease-in-out;
  }
  .Achievement-component:hover {
    border: 3px solid var(--main-color);
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
  }
  .Achievement-component h3 {
    font-size: 1.8rem;
  }
  .Achievement-component p {
    font-size: 1rem;
  }
  .learn-more {
    position: relative;
    padding: 10px;
    top: 50px;
    left: 3rem;
    border-radius: 30px;
    background-color: var(--main-color);
    z-index: 1;
  }
  .learn-more a {
    color: white;
    font-weight: 2rem;
  }
  .learn-more:hover {
    background-color: #1f1f1f;
    border: 3px solid var(--text-color);
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px var(--text-color);
  }

.slider .wrapper1 {
  position: relative;
  display: flex;
  max-height: 400rem;
  overflow-x: auto;
  top:5px;
}
.wrapper1::-webkit-scrollbar{
  width: 0;
}
.wrapper1 .item {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  min-width: 53rem;
  text-align: center;
  margin-right: 10px;
  height: 30rem;
  margin-left: 30px;
}
.wrapper1 .item video {
  border-radius: 30px;
}
.wrapper1 .item iframe {
  border-radius: 30px;
}
.wrapper1 .item span {
  position: relative;
  border: 3px solid var(--main-color);
  padding: 10px;
  top: 10px;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
}
.wrapper1 .item video:hover {
  border: 3px solid var(--main-color);
  transform: translateY(-10px)scale(1.03);
  box-shadow: 0 0 50px var(--main-color);
  cursor: pointer;
}
.slider h1 {
  margin-bottom: 4rem;
  margin-top: 7rem;
  font-size: 2.7rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 5px 5px 10px #0022ee, -5px -5px 10px #042aff, 5px 5px 10px #0022ee, -5px -5px 10px #042aff,-5px -5px 10px #042aff;
}

